.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.darkbar {
  height: 5px;
  width: 130px;
  background: #ae155550;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
}

.darkbar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ae1555;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

.lightbar {
  height: 5px;
  width: 130px;
  background: #faf6f262;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
}

.lightbar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #faf6f2;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

.darkbar {
  height: 5px;
  width: 130px;
  background: #ae155550;
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
}

.darkbar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ae1555;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

.cards {
  gap: 2em;
  padding: 2em;
  place-items: center;
}

.card {
  --offset: 48%;
  display: grid;
  place-items: center;
  max-width: 600px;
  width: 100%;
  min-height: 260px;
  padding: 1em;
  transition: translate 200ms;
}

.cards > .card:nth-child(odd) {
  translate: var(--offset) 0;
}

.cards > .card:nth-child(even) {
  translate: calc(-1 * var(--offset)) 0;
}

@media (max-width: 1300px) {
  .card {
    --offset: 25%;
  }
}

@media (max-width: 1000px) {
  .card {
    --offset: 10%;
  }
}

@media (max-width: 800px) {
  .card {
    --offset: 0;
  }
}

.register-btn {
  text-decoration: none;
  display: grid;
  place-items: center;

  margin: 2em;
}
